<%- include ("partials/header") -%>
	
	<div class="pageTitle">HANDMADE SHOES SINCE 2000</div>
	<div class="whiteBackground" style="border-top:2px solid rgb(58,39,32)">
		<div class="homeTrianlge"><img src="/images/triangle.png"></div>
		<div class="shortContent">
			<div class="brownTitle">LUPO</div>
			<div class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
		</div>
		<div class="galleryTitle">Gallery</div>
		<div class="galleryItemsWrap">
			<div class="galleryItem" style="background-image:url(/images/shoes/1.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/2.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/3.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/4.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/5.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/6.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/7.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/8.jpg)"></div><!--
			--><div class="galleryItem" style="background-image:url(/images/shoes/9.jpg)"></div>
		</div>
	</div>
	<div class="testimonialsWrap">
		<div class="pageTitle whatSaid">
			What they said about us
		</div>
		<div class="testimonial" style="margin-left:0">
			<div class="testimonialImage" style="background-image:url(/images/shoes/1.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr A.C</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/2.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr <a href="#">@johndoe</a></div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/3.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr B.K</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/9.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mrs <a href="#">@janedoe</a></div>
		</div>
	</div>
	<div class="whiteBackground" style="padding-bottom:40px;">
		<div class="brownTitle" id="kontakt">KONTAKT</div>
		<div class="contactInfoWrap">
			<div class="contactInfo">Aleksandar i Marko</div>
			<div class="contactInfo">+381 65 1234-567</div>
			<div class="contactInfo">info@lupo.rs</div>
			<a href="https://www.facebook.com/lupohandmadeshoes/">
				<img src="/images/Facebook.png">
			</a>
			<a href="https://www.instagram.com/lupohandmade_shoes/?hl=en">
				<img src="/images/Instagram.png">
			</a>
		</div>
		<div id='map'></div>
		<script src="/js/map.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsUyoMs0Ba_6bPbtD5A5_1yOJXjjMYsMQ&amp;callback=initMap" async="" defer=""></script>
		
	</div>
	<div>
		<img src="/images/Lupo-Workshop.jpeg">
	</div>
<%- include ("partials/footer") -%>