<%- include ("partials/header") -%>
	<script>
		var shoes	=	<%- JSON.stringify(shoes)%>;
	</script>
	<!--<div class="sliderView">
	</div>
	<script>
		var shoes	=	<%- JSON.stringify(shoes)%>;
		var randomArray	=	Array.from({length: 10}, () => Math.floor(Math.random() * eval(shoes.length-1)));
		for(var i=0;i<randomArray.length;i++){
			var slide	=	document.createElement("DIV");
			slide.setAttribute("class","slide");
			slide.setAttribute("data-active",0);
			slide.setAttribute("style","background-image:url(/images/shoes/drive/"+shoes[randomArray[i]]+");opacity:0;");
			document.getElementsByClassName("sliderView")[0].appendChild(slide);
		}
		var slides	=	document.getElementsByClassName("sliderView")[0].getElementsByClassName("slide");
		slides[0].dataset.active=1;
		slides[0].style.opacity=1;
		for(var i=0;i<slides.length;i++){
			slides[i].classList.add("easy");
		}

		setInterval(function(){
			for(var i=0;i<slides.length;i++){
				if(slides[i].dataset.active==1){
					slides[i].dataset.active=0;
					slides[i].style.opacity=0;
					var nextSlide	=	(i+1==slides.length) ? 0:i+1;
					slides[nextSlide].dataset.active=1;
					slides[nextSlide].style.opacity=1;
					break;
				}
			}
		},5000)
	</script>-->
	<div class="videoWrap">
		<video autoplay muted loop playsinline poster="/Lupo-Handmade-Video-Poster.jpeg">
		  <source src="Lupo-Handmade-Video.mp4" type="video/mp4">
		  Your browser does not support the videos :(.
		</video>
	</div>
	<div class="whiteBackground" style="border-top:3px solid rgb(62,63,68)">
		<div class="homeTrianlge"><img src="/images/triangle2.png"></div>
		<div class="shortContent">
			<img src="/images/Lupo-New-Logo.png">
			<div class="text lupoHistoryText">
				The founder Bozidar Djikic lived in Vlasotince (near Leskovac) until the age of 8, which is when his father got a military transfer to Skopje. He finished elementary and high school there, and graduated from Theology at Bitilje. His father was a shoemaker in the army and was very valued which is where he got his knowledge from and founded Lupo Handmade after the world war 2.
			</div>
			<div class="historicalImage">
				<img src="/images/historical.jpg">
				<div class="date">
					<img src="/images/date.png">
				</div>
			</div>
		</div>
		<div class="hashtags">
			<div class="hashtag">#handmade</div><div class="hashtag">#original</div><div class="hashtag">#oldfashioned</div>
			<div class="hashtag">#trendy</div><div class="hashtag">#leather</div><div class="hashtag">#wood</div>
			<div class="hashtag">#colorfull</div><div class="hashtag">#unique</div><div class="hashtag">#class</div>
		</div>
		<div class="grayTitle">Models</div>
		<div class="modelsWrap">
			<div class="modelWrap">
				<div class="modelImage" style="background-image: url(/Francesco.jpeg);"></div>
				<div class="genderIcon"><img src="/male.png"></div>
				<div class="nameWrap">
					<div class="fade"></div>
					<div class="name">Francesco</div>
				</div>
			</div>
			<div class="modelWrap">
				<div class="modelImage" style="background-image: url(/Capri.JPG);"></div>
				<div class="genderIcon"><img src="/male.png"></div>
				<div class="nameWrap">
					<div class="fade"></div>
					<div class="name">Capri</div>
				</div>
			</div>
			<div class="modelWrap">
				<div class="modelImage" style="background-image: url(/Bruno.jpeg);"></div>
				<div class="genderIcon"><img src="/male.png"></div>
				<div class="nameWrap">
					<div class="fade"></div>
					<div class="name">Bruno</div>
				</div>
			</div>
			<div class="modelWrap">
				<div class="modelImage" style="background-image: url(/Massimo.jpeg);"></div>
				<div class="genderIcon"><img src="/male.png"></div>
				<div class="nameWrap">
					<div class="fade"></div>
					<div class="name">Massimo</div>
				</div>
			</div>
			<div class="modelWrap">
				<div class="modelImage" style="background-image: url(/Anna.jpeg);"></div>
				<div class="genderIcon"><img src="/female.png"></div>
				<div class="nameWrap">
					<div class="fade"></div>
					<div class="name">Anna</div>
				</div>
			</div>
		</div>
		<div class="grayTitle">How we do it</div>
		<div class="grayBackground stepsWrap">
			<div class="stepWrap">
				<div class="textWrap">
					<div class="title">Measuring</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
				<div class="numberWrap">
					<div class="number">1.</div>
				</div>
			</div>
			<div class="stepWrap">
				<div class="numberWrap">
					<div class="number">2.</div>
				</div>
				<div class="textWrap">
					<div class="title">Making</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>
			<div class="stepWrap">
				<div class="textWrap">
					<div class="title">Delivery</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
				<div class="numberWrap">
					<div class="number">3.</div>
				</div>
			</div>
		</div>

		<div class="grayTitle">Gallery</div>
		<div class="galleryItemsWrap"></div>
		<script>
			for(var i=0;i<shoes.length;i++){
				var	galleryItem	=	document.createElement("DIV");
				galleryItem.setAttribute("class","galleryItem");
				galleryItem.setAttribute("data-imagename",shoes[i]);
				galleryItem.setAttribute("onclick","enlargeGalleryItem(this)");

					var thumbnail	=	document.createElement("DIV");
					thumbnail.setAttribute("class","thumbnail");
					thumbnail.setAttribute("style","background-image:url(/images/shoes/drive/thumbnails/"+shoes[i]+")");
					galleryItem.appendChild(thumbnail);

				document.getElementsByClassName("galleryItemsWrap")[0].appendChild(galleryItem);
			}

			function enlargeGalleryItem(elem){
				if(elem.classList.contains("galleryItemEnlarged")){
					elem.classList.remove("galleryItemEnlarged");
				}else{
					elem.classList.add("galleryItemEnlarged");
					elem.style.backgroundImage	=	"url(/images/shoes/drive/"+elem.dataset.imagename+")";
				}
				setTimeout(function(){elem.scrollIntoView({behavior: 'smooth', block: 'start'})},400)
			}
		</script>
	</div>
	<div class="testimonialsWrap">
		<div class="pageTitle whatSaid">
			What they said about us
		</div>
		<div class="testimonial" style="margin-left:0">
			<div class="testimonialImage" style="background-image:url(/images/shoes/1.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr A.C</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/2.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr <a href="#">@johndoe</a></div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/3.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr B.K</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/9.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mrs <a href="#">@janedoe</a></div>
		</div>
	</div>
	<div class="whiteBackground" style="padding-bottom:40px;">
		<div class="grayTitle" id="kontakt">Contact</div>
		<div class="contactInfoWrap">
			<div class="contactInfo">Nemanja Stojanovic</div>
			<div class="contactInfo">+381 65 1234-567</div>
			<div class="contactInfo">info@lupo.rs</div>
			<div class="formWrapper">
				<form method="POST" action="/send-message" id="form">
					<textarea name="message2" placeholder="Leave a message..." id="message"></textarea>
					<div class="inputsWrap">
						<div class="note">Please leave your</div>
						<div class="inputWrap">
							<input type="email" name="email" id="email" placeholder="Email">
						</div>
						<div class="note">or</div>
						<div class="inputWrap">
							<input type="text" name="tel" id="tel" placeholder="Phone">
						</div>
					</div>
					<div id="error"></div>
					<div class="sendButton" onclick="shouldSubmit()">Send</div>
					<script>
						function shouldSubmit(){
							if(document.getElementById("email").value!="" || document.getElementById("tel").value!=""){
								document.getElementById("form").submit();
							}else{
								document.getElementById("error").innerHTML	=	"Please provide your e-mail address or phone number so we can get in touch."
							}
						}
					</script>
				</form>
			</div>
		</div>
		<div class="grayTitle">Follow Us</div>
		<div class="followsWrap">
			<div class="followWrap">
				<a href="https://www.facebook.com/lupohandmadeshoes/">
					<img class="logo" src="/logos/facebook.png">
					<div class="atSymbol">lupohandmadeshoes</div>
				</a>
			</div>
			<div class="followWrap">
				<a href="https://www.instagram.com/lupohandmade_shoes/?hl=en">
					<img class="logo" src="/logos/instagram.png">
					<div class="atSymbol">@lupohandmade_shoes</div>
				</a>
			</div>
		</div>
	</div>
	<div>
		<img src="/images/Lupo-Workshop.jpeg">
	</div>
<%- include ("partials/footer") -%>