<%- include ("partials/header") -%>
	<div class="sliderView">
	</div>
	<script>
		var shoes	=	<%- JSON.stringify(shoes)%>;
		var randomArray	=	Array.from({length: 10}, () => Math.floor(Math.random() * eval(shoes.length-1)));
		for(var i=0;i<randomArray.length;i++){
			var slide	=	document.createElement("DIV");
			slide.setAttribute("class","slide");
			slide.setAttribute("data-active",0);
			slide.setAttribute("style","background-image:url(/images/shoes/drive/"+shoes[randomArray[i]]+");opacity:0;");
			document.getElementsByClassName("sliderView")[0].appendChild(slide);
		}
		var slides	=	document.getElementsByClassName("sliderView")[0].getElementsByClassName("slide");
		slides[0].dataset.active=1;
		slides[0].style.opacity=1;
		for(var i=0;i<slides.length;i++){
			slides[i].classList.add("easy");
		}

		setInterval(function(){
			for(var i=0;i<slides.length;i++){
				if(slides[i].dataset.active==1){
					slides[i].dataset.active=0;
					slides[i].style.opacity=0;
					var nextSlide	=	(i+1==slides.length) ? 0:i+1;
					slides[nextSlide].dataset.active=1;
					slides[nextSlide].style.opacity=1;
					break;
				}
			}
		},5000)
	</script>
	<div class="whiteBackground" style="border-top:3px solid rgb(62,63,68)">
		<div class="homeTrianlge"><img src="/images/triangle2.png"></div>
		<div class="shortContent">
			<img src="/images/Lupo-New-Logo.png">
			<div class="text lupoHistoryText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="historicalImage">
				<img src="/images/historical.jpg">
				<div class="date">
					<img src="/images/date.png">
				</div>
			</div>
		</div>
		<div class="galleryTitle">Gallery</div>
		<div class="galleryItemsWrap"></div>
		<script>
			for(var i=0;i<shoes.length;i++){
				var	galleryItem	=	document.createElement("DIV");
				galleryItem.setAttribute("class","galleryItem");

					var thumbnail	=	document.createElement("DIV");
					thumbnail.setAttribute("class","thumbnail");
					thumbnail.setAttribute("style","background-image:url(/images/shoes/drive/"+shoes[i]+")");
					galleryItem.appendChild(thumbnail);

				document.getElementsByClassName("galleryItemsWrap")[0].appendChild(galleryItem);
			}
		</script>
	</div>
	<div class="testimonialsWrap">
		<div class="pageTitle whatSaid">
			What they said about us
		</div>
		<div class="testimonial" style="margin-left:0">
			<div class="testimonialImage" style="background-image:url(/images/shoes/1.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr A.C</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/2.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr <a href="#">@johndoe</a></div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/3.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mr B.K</div>
		</div>
		<div class="testimonial">
			<div class="testimonialImage" style="background-image:url(/images/shoes/9.jpg)"></div>
			<div class="testimonialText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
			<div class="testimonialSignature">Mrs <a href="#">@janedoe</a></div>
		</div>
	</div>
	<div class="whiteBackground" style="padding-bottom:40px;">
		<div class="brownTitle" id="kontakt">KONTAKT</div>
		<div class="contactInfoWrap">
			<div class="contactInfo">Aleksandar i Marko</div>
			<div class="contactInfo">+381 65 1234-567</div>
			<div class="contactInfo">info@lupo.rs</div>
			<a href="https://www.facebook.com/lupohandmadeshoes/">
				<img src="/images/Facebook.png">
			</a>
			<a href="https://www.instagram.com/lupohandmade_shoes/?hl=en">
				<img src="/images/Instagram.png">
			</a>
		</div>
		<div id='map'></div>
		<script src="/js/map.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsUyoMs0Ba_6bPbtD5A5_1yOJXjjMYsMQ&amp;callback=initMap" async="" defer=""></script>
		
	</div>
	<div>
		<img src="/images/Lupo-Workshop.jpeg">
	</div>
<%- include ("partials/footer") -%>