@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
    overflow-y: scroll;
    overflow-y: overlay;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
body{
    margin:0;
    font-family: Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:rgb(62,63,68);
    text-align:left;
    background-color:rgb(240,226,208);
    background-image:url(/images/background.jpg);
    background-repeat:repeat;
    overflow-x:hidden;
}

[tabindex="-1"]:focus{
    outline:0!important
}

b,strong{
    font-weight:bolder
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
a{
    color:rgb(58,39,32);
    text-decoration:none;
    font-weight:700;
    background-color:transparent;
    text-shadow: 0px 0px 2px rgba(19, 170, 82, 0);
    -webkit-transition:all ease 0.1s;
    -moz-transition:all ease 0.1s;
    -ms-transition:all ease 0.1s;
    -o-transition:all ease 0.1s;
    transition:all ease 0.1s;
}
a:hover{
    text-shadow: 0px 0px 2px rgba(0,0,0, 0.8);
}
pre{
    margin-top:0;
    margin-bottom:1rem;
    overflow:auto
}
img{
    vertical-align:middle;
    border-style:none;
    max-width:100%;
    display:block;
}
table{
    border-collapse:collapse
}
caption{
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#6c757d;
    text-align:left;
    caption-side:bottom
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
select{
    word-wrap:normal
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
    cursor:pointer
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    padding:0;
    border-style:none
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
    -webkit-appearance:listbox
}
textarea{
    overflow:auto;
    resize:vertical
}
legend{
    display:block;
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:.5rem;
    font-size:1.5rem;
    line-height:inherit;
    color:inherit;
    white-space:normal
}
progress{
    vertical-align:baseline
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    outline-offset:-2px;
    -webkit-appearance:none
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
[hidden]{
    display:none !important
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
  border-radius:3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(58,39,32);
    background: linear-gradient(90deg, rgba(240,226,208,1) 0%, rgba(58,39,32,1) 100%);
    border:1px solid rgba(255,255,255,0.7);
    border-radius:3px;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(240,226,208);
    background: linear-gradient(90deg, rgba(58,39,32,1) 0%, rgba(240,226,208,1) 100%);
}

.relative{
    position:relative;
}

.center{
    text-align:center;
}

.centered{
    margin-left:auto;
    margin-right:auto;
}


#container{
    width:960px;
    text-align:center;
    margin:0 auto;
    position:relative;
    z-index:20;
    border-left:2px solid rgb(62,63,68);
    border-right:2px solid rgb(62,63,68);
}

.background{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:5;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-image:url(/images/Home-Collage.jpg);
}

.background .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.4);
    z-index:10;
}

.background .logo{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    z-index:15;
    border-radius:200px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}

.background .falling-leaves{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:12;
}

.pageTitle{
    color:rgb(240,226,208);
    font-size:30px;
    font-weight:600;
    height:100vh;
    text-shadow:2px 2px 2px rgba(58,39,32, 0.8);
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
}

.whiteBackground{
    background-color:rgb(240,226,208);
    background-image:url(/images/background.jpg);
    background-repeat:repeat;
    position:relative;
}

.homeTrianlge{
    text-align:center;
    position:relative;
}

.homeTrianlge img{
    top:-57px;
    position:relative;
    margin:0 auto;
}

.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(/images/Leaf.png) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

.brownTitle{
    font-size:90px;
    font-weight:700;
    margin-bottom:20px;
    padding-top:30px;
    color:rgb(58,39,32);
}

.text{
    color:rgb(58,39,32);
}

.shortContent{
    width:700px;
    margin:0 auto;
}

.galleryTitle{
    margin-top:50px;
    background-color:rgb(62,63,68);
    color:rgb(240,226,208);
    font-size:50px;
    font-weight:500;
    padding:10px 0;
}

.galleryItemsWrap{
    background-color:rgb(62,63,68);
    text-align:center;
    height:70vh;
    font-size:0;
    border-top:2px solid rgb(62,63,68);
    border-bottom:2px solid rgb(62,63,68);
    overflow-y:scroll;
}

.galleryItemsWrap::-webkit-scrollbar {
  width: 0px;
}

.galleryItem{
    width:318px;
    height:318px;
    border:1px solid rgb(240,226,208);
    display:inline-block;
    position:relative;
    vertical-align:top;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    background-size:cover;
    background-position:center center;
}

.galleryItem .thumbnail{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    opacity:1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}


.galleryItemsWrap .galleryItemEnlarged{
    width:100%;
    height:960px;
    max-height:70vh;
}

.galleryItemsWrap .galleryItemEnlarged .thumbnail{
    -webkit-transition: opacity ease 3s;
    -moz-transition: opacity ease 3s;
    -ms-transition: opacity ease 3s;
    -o-transition: opacity ease 3s;
    transition: opacity ease 3s;
    opacity:0;

}

.testimonialsWrap{
    text-align:center;
    padding-bottom:120px;
    background-color:rgba(0,0,0,0.4);
}

.testimonial{
    display:inline-block;
    vertical-align:top;
    width:22%;
    margin-left:2%;
    background-color:rgb(58,39,32);
    color:rgb(240,226,208);
    padding:10px;
    border:2px solid rgb(240,226,208);
}

.testimonialImage{
    width:10vw;
    height:10vw;
    border:2px solid rgb(240,226,208);
    border-radius:200px;
    margin:0 auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

.testimonialText{
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
    font-style:italic;
}

.testimonialSignature{
    text-align:right;
    font-weight:600;
}

.testimonialSignature a{
    color:rgb(240,226,208);
    text-decoration: underline;
}

.whatSaid{
    padding-top:120px;
    padding-bottom:20px;
    height:auto !important;
}

#map{
    width:80%;
    height:500px;
    margin:0 auto;
    border:2px solid rgb(58,39,32);
}

.contactInfoWrap{
    
}

.contactInfo{
    font-weight:300;
    font-size:20px;
}

.contactInfoWrap a{
    display:inline-block;
    vertical-align: middle;
    margin:5px;
}

.header{
    position:fixed;
    z-index:500;
    text-align:left;
}

.header .logo{
    box-shadow:2px 2px 2px rgba(0,0,0,0.8);
    border:1px solid rgb(62,63,68);
}

.sliderView{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:url(/images/background.jpg);
    background-repeat:repeat;
}

.sliderView .slide{
    width:110vw;
    height:110vh;
    background-size:cover;
    background-position:center center;
    position:absolute;
    top:-10vh;
    left:-10vw;
    animation-name: pan;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(900);
}

@-webkit-keyframes pan {
  0%   {top:-10vh;left:-10vw;}
  50%  {top:0vh;left:0vw;}
  100% {top:-10vh;left:-10vw;}
}
@-moz-keyframes pan {
  0%   {top:-10vh;left:-10vw;}
  50%  {top:0vh;left:0vw;}
  100% {top:-10vh;left:-10vw;}
}
@-o-keyframes pan {
  0%   {top:-10vh;left:-10vw;}
  50%  {top:0vh;left:0vw;}
  100% {top:-10vh;left:-10vw;}
}
@keyframes pan {
  0%   {top:-10vh;left:-10vw;}
  50%  {top:0vh;left:0vw;}
  100% {top:-10vh;left:-10vw;}
}

.easy{
    -webkit-transition:all ease 2.5s;
    -moz-transition:all ease 2.5s;
    -ms-transition:all ease 2.5s;
    -o-transition:all ease 2.5s;
    transition:all ease 2.5s;
}

.lupoHistoryText{
    margin:30px auto;
    font-size:22px;
    font-weight:300;
}

.historicalImage{
    border:8px solid rgb(255,255,255);
}

.historicalImage .date{
    background-color:rgb(255,255,255);
    text-align:center;
    border:8px solid rgb(255,255,255);
}


.historicalImage .date img{
    width:200px;
    margin:0 auto;
}

.hashtags{
    text-align:center;
    font-size:15px;
    font-weight:100;
    padding:3px 10px;
}

.hashtags .hashtag{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}

.grayTitle{
    color:rgb(62,63,68);
    font-size:50px;
    font-weight:500;
    margin-bottom:20px;
    padding-top:20px;
}


.modelWrap{
    height:40vw;
    position: relative;
    overflow:hidden;
}

.modelWrap .modelImage{
    width:60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
    z-index:20;
    height:100%;
}

.modelWrap .nameWrap{
    width:40%;
    height:100%;
    position:relative;
}

.modelsWrap .modelWrap:nth-child(odd) .modelImage{
    float:left;
}

.modelsWrap .modelWrap:nth-child(even) .modelImage{
    float:right;
}

.modelsWrap .modelWrap:nth-child(odd) .nameWrap{
    float:right;
    background-color:rgb(62,63,68);
    color:rgb(240,226,208);
}

.modelsWrap .modelWrap:nth-child(even) .nameWrap{
    float:left;
    background-color:rgb(240,226,208);
    color:rgb(62,63,68);
}

.modelsWrap .modelWrap .genderIcon{
    position:absolute;
    bottom:10px;
    width:50px;
    z-index:50;
    opacity:0.8;
}

.modelsWrap .modelWrap:nth-child(odd) .genderIcon{
    left:10px;
}

.modelsWrap .modelWrap:nth-child(even) .genderIcon{
    right:10px;
}

.modelsWrap .modelWrap .nameWrap .fade{
    position:absolute;
    width:20vw;
    z-index:50;
    top:0;
    bottom:0;
}

.modelsWrap .modelWrap:nth-child(odd) .nameWrap .fade{
    left:-19.5vw;
    background-image:linear-gradient(90deg, rgba(62,63,68,0) , rgba(62,63,68,1));
}

.modelsWrap .modelWrap:nth-child(even) .nameWrap .fade{
    right:-19.5vw;
    background-image:linear-gradient(90deg, rgba(240,226,208,1) , rgba(240,226,208,0));
}

.modelsWrap .modelWrap .nameWrap .name{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index:50;
    font-size:26px;
    font-weight:200;
}

.modelsWrap .modelWrap:nth-child(odd) .nameWrap .name{
    color:rgba(240,226,208,1);
}

.modelsWrap .modelWrap:nth-child(even) .nameWrap .name{
    color:rgba(62,63,68,1);
}

.videoWrap{
    background-color:rgb(240,226,208);
    background-image:url(/images/background.jpg);
    background-repeat:repeat;
    overflow:hidden;
    height:80vh;
    position:relative;
}

.videoWrap video{
    width:100%;
    max-width:1080px;
    max-height:100vh;
    margin:0 auto;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.stepsWrap{
    padding:10px;
    background-color:rgb(62,63,68);
    color:rgb(240,226,208);
}

.stepsWrap .stepWrap{
    font-size:0px;
}

.stepsWrap .stepWrap .textWrap, .stepsWrap .stepWrap .numberWrap{
    display:inline-block;
    vertical-align: middle;
}

.stepsWrap .stepWrap .textWrap{
    width:60%;
}

.stepsWrap .stepWrap .textWrap .title{
    font-weight:500;
    font-size:20px;
    text-align:left;
}

.stepsWrap .stepWrap .textWrap .text{
    font-weight:200;
    font-size:16px;
    color:rgb(240,226,208);
    text-align:left;
}

.stepsWrap .stepWrap .numberWrap{
    width:40%;
    padding:5%;
}

.stepsWrap .stepWrap .numberWrap .number{
    border-radius:100%;
    background-color:rgb(240,226,208);
    background-image:url(/images/background.jpg);
    background-repeat:repeat;
    color:rgb(62,63,68);
    font-weight:400;
    font-size:60px;
}

.stepsWrap .stepWrap:nth-child(even) .textWrap .text, .stepsWrap .stepWrap:nth-child(even) .textWrap .title{
    text-align:right;
}

.followsWrap{
    font-size:0;
}

.followWrap{
    font-size:16px;
    width:50%;
    display:inline-block;
    vertical-align:top;
    padding:0 5%;
}

.followWrap .atSymbol{
    font-size:14px;
    font-weight:300;
    margin-left:-100%;
    margin-right: -100%;
}

.formWrapper{
    width:90%;
    margin:20px auto;
}

.formWrapper textarea{
    width:100%;
    outline:none;
    resize:none;
    background-color:rgba(62,63,68,0);
    color:rgb(62,63,68);
    border:1px solid rgb(62,63,68);
    padding:5px;
    height:200px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.formWrapper textarea:focus{
    background-color:rgba(62,63,68,0.2);
}

.formWrapper input{
    width:100%;
    outline:none;
    resize:none;
    background-color:rgba(62,63,68,0);
    color:rgb(62,63,68);
    border:1px solid rgb(62,63,68);
    padding:5px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.formWrapper input:focus{
    background-color:rgba(62,63,68,0.2);
}

.formWrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(62,63,68,0.8);
  opacity: 1; /* Firefox */
}

.formWrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(62,63,68,0.8);
}

.formWrapper input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(62,63,68,0.8);
}

.formWrapper textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(62,63,68,0.8);
  opacity: 1; /* Firefox */
}

.formWrapper textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(62,63,68,0.8);
}

.formWrapper textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(62,63,68,0.8);
}

.formWrapper .note{
    margin:10px auto;
    font-size:18px;
    font-weight:400;
}

.formWrapper .sendButton{
    display:inline-block;
    margin:0 auto;
    margin-top:20px;
    font-weight:500;
    font-size:20px;
    padding:5px 10px;
    border:3px outset rgba(62,63,68,0.5);
    color:rgb(62,63,68);
    background-color:rgba(62,63,68,0);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.formWrapper .sendButton:hover{
    border:3px inset rgba(62,63,68,0.5);
    background-color:rgba(62,63,68,0.8);
    color:rgb(240,226,208);
}

.formWrapper #error{
    font-size:14px;
    font-weight:300;
    text-align:center;
}

#lightbox{
    width:90%;
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    background-color:rgb(62,63,68);
    color:rgb(240,226,208);
    opacity:0.9;
    padding:20px;
    font-weight:400;
    font-size:18px;
    z-index:1000;
}

#lightbox .lighboxtButton{
    width:80%;
    margin:10px auto;
    background-color:rgb(240,226,208);
    border:4px outset rgba(240,226,208);
    color:rgb(62,63,68);
    font-weight:500;
    font-size:20px;
}



@media screen and (max-width: 960px) {
    #container{
        width:100%;
        border:none !important;
    }

    .galleryItem{
        width:33.33vw;
        height:33.33vw;
    }

    .galleryItemsWrap .galleryItemEnlarged{
        max-height:none;
        height:100vw;
    }
}


@media screen and (max-width: 900px) {
    .testimonial{
        width:47%;
        margin-left:1% !important;
        margin-right:1% !important;
        margin-bottom:10px;
    }

    .testimonialImage{
        width:23vw;
        height:23vw;
    }

    .videoWrap video{
        max-height:none;
    }
}



@media screen and (max-width: 700px) {
    .shortContent{
        width:90%;
    }
}

@media screen and (max-width: 500px) {
    .testimonialText{
        font-size:12px;
    }

    #map{
        height:350px;
    }

    #kontakt{
        font-size:60px;
    }
}

